<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="author" content="<%= footerAuthorName %>">
    <meta name="description" content="<%= pageDescription %>.">
    <meta name="keywords" content="query hive, output sandbox, excel, json, table, INDAH BPS">

    <title>Output Sandbox | <%= pageTitle %></title>
    <link rel="shortcut icon" href="https://bpslampung.id/landing/img/logo.png" type="image/png">
    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
  </head>
  <body>

    <div class="container">
        <!-- content here -->
        <h1 class="text-center mb-3"><%= pageSubtitle %></h1>

        <div class="text-muted text-normal text-center mb-5"><%= pageDescription %></div>

        <form id="form-export">
            <div class="form-group">
                <label>Paste the output</label>
                <input type="text" id="jsonString" name="jsonString" oninput="handleChange(event, this.value)" />
            </div>
            <div class="form-group">
                <button class="image-button alert" type="submit">
                    <span class="mif-download icon"></span>
                    <span class="caption">Export to Excel</span>
                </button>
            </div>
            <input type="hidden" id="jsonData" name="jsonData"/>
        </form>
        <div class="form-group">
            <h5>JSON Format</h5>
            <div id="jsonFormat"></div>
        </div>
        <div class="form-group">
            <div class="d-flex flex-justify-between">
                <h5>Table Format</h5>
                <p class="mr-3" id="totalRecord"></p>
            </div>
            <div id="showTable"></div>
        </div>

        <div class="pos-fixed pos-top-right">
            <button class="image-button info" type="button" onclick="handleInfo('<%- footerDescription %>', '<%- footerAuthorName %>', '<%- footerAuthorUrl %>')">
                <span class="mif-info icon"></span>
                <span class="caption">Informasi Aplikasi</span>
            </button>
        </div>
    </div>

    <!-- Metro 4 -->
    <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/json-formatter-js@2.3.4/dist/json-formatter.umd.min.js"></script>
    <script src="https://unpkg.com/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
    <script src="/assets/script.js"></script>
  </body>
</html>