<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Output Sandbox | <%= pageTitle %></title>
    <link rel="shortcut icon" href="https://bpslampung.id/landing/img/logo.png" type="image/png">
    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
  </head>
  <body>

    <div class="container">
        <!-- content here -->
        <h1 class="text-center mb-3"><%= pageTitle %></h1>

        <div class="text-muted text-normal text-center mb-5"><%= pageSubtitle %> <a href="<%= pageAuthorUrl %>" style="text-decoration: none;" target="_blank"><%= pageAuthorName %></a></div>

        <form id="form-export">
            <div class="form-group">
                <label>Paste the output</label>
                <input type="text" id="jsonString" name="jsonString" oninput="handleChange(event, this.value)" />
            </div>
            <div class="form-group">
                <button class="image-button alert" type="submit">
                    <span class="mif-download icon"></span>
                    <span class="caption">Export to Excel</span>
                </button>
            </div>
            <div class="form-group jsonFormat">
                <h6>JSON Format</h6>
                <div id="jsonFormat"></div>
            </div>
            <input type="hidden" id="jsonData" name="jsonData"/>
        </form>
        <div class="form-group">
            <h6>Table Format</h6>
            <div id="showTable"></div>
        </div>
    </div>

    <!-- Metro 4 -->
    <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/json-formatter-js@2.3.4/dist/json-formatter.umd.min.js"></script>
    <script src="/assets/script.js"></script>
  </body>
</html>